<!DOCTYPE html>

<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>银行业务管理系统</title>
    <link rel="stylesheet" href="../static/style1.css">
    <script>
        function openForm() {
            var form = document.getElementById("insertForm");
            form.style.display = "block";
        }

        function closeForm() {
            document.getElementById("insertForm").style.display = "none";
        }

        function openwForm(key) {
            document.getElementById("deleteWarning").style.display = "block";
            delete_form.key.value = key;
        }

        function closewForm() {
            document.getElementById("deleteWarning").style.display = "none";
        }
        function opendForm(key) {
            document.getElementById('updateForm').style.display = 'block'
            update_form.loan_id.value = key;
        }
        function closedForm() {
            document.getElementById('updateForm').style.display = 'none'
        }
    </script>
</head>


<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div class="form-popup" id="insertForm" name="insertForm">
        <form class="form-container" method="POST">
            <h5>插入表单</h5>
            <input type="hidden" name="type" value="insert">
            <input type="text" placeholder="贷款ID(必填)" name="loan_id" required>
            {% if authorized %}
            <input type="text" placeholder="客户ID(必填)" name="customer_id"
                required>
            {% endif %}
            <input type="text" placeholder="所属支行ID(必填)" name="bank_id" required>
            <input type="text" placeholder="贷款金额(必填)" name="loan_amount"
                required>
            <input type="text"
                placeholder="贷款期限(必填,格式为YY-MM-DD例如2024-01-01,必须晚于当日日期)"
                name="term" required>
            <div style="display: flex;">
                <button type="submit" class="btn btn-success"
                    value="Refresh Page">确认</button>
                <div style="margin-left: 10px;"></div>
                <button type="button" class="btn bg-danger"
                    onclick="closeForm()">取消</button>
            </div>
            <style>
                .form-popup[id='insertForm'] {
                    display: none;
                    position: fixed;
                    top: 40%;
                    left: 60%;
                    transform: translate(-50%, -50%);
                    width: 500px;
                    bottom: 0;
                    right: 15px;
                    border: 0px solid #f1f1f1;
                    z-index: 9;
                    margin: 0;
                    padding: 0;
                }
            </style>
        </form>
    </div>
    <div class="form-popup" id="updateForm">
        <style>
            .form-popup[id='updateForm']{
                border: 0px solid #f1f1f1;
            }
        </style>
        <form class="form-container" name='update_form' method="POST">
            <h5>还贷表单</h5>
            <input type="hidden" name="type" value="update">
            <input type="hidden" name="loan_id" value="">
            <input type="text" placeholder="还款金额(必填)" name="amount" required>
            <div style="display: flex;">
                <button type="submit" class="btn btn-success"
                    value="Refresh Page">确认</button>
                <div style="margin-left: 10px;"></div>
                <button type="button" class="btn bg-danger"
                    onclick="closeForm()">取消</button>
            </div>
        </form>
    </div>
    <div class="form-popup delete-form" id="deleteWarning">
        <form class="form-container" name="delete_form" method="POST">
            <style>
                .delete-form {
                    top: 50%;
                    left: 60%;
                }

                .form-container {
                    max-width: 500px;
                }
            </style>
            <p> </p>
            <h2>确认删除？</h2>
            <p> </p>
            <p> </p>
            <input type="hidden" name="type" value="delete">
            <input type="hidden" name="key" value="">
            <button type="submit" class="btn btn-success" value="Refresh Page"
                onclick="window.location.reload();">确认</button>
            <button type="button" class="btn bg-danger"
                onclick="closewForm();">取消</button>
        </form>
    </div>
    <header class="app-header navbar"><span
            class="badge badge-light">数据库系统及应用Lab</span> </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    {% if authorized %}
                    <li class="nav-title">银行管理系统</li>
                    <a class="nav-link nav-dropdown-toggle" href="index"> <i
                            class="nav-icon icon-speedometer"></i> 首页
                    </a>
                    <li class="nav-item nav-dropdown"> <a
                            class="nav-link nav-dropdown-toggle" href="bank"> <i
                                class="nav-icon icon-puzzle"></i>
                            支行管理</a> </li>
                    <li class="nav-item nav-dropdown"> <a
                            class="nav-link nav-dropdown-toggle"
                            href="department">
                            <i class="nav-icon icon-cursor"></i> 部门管理</a> </li>
                    <li class="nav-item nav-dropdown"> <a
                            class="nav-link nav-dropdown-toggle" href="stuff">
                            <i class="nav-icon icon-cursor"></i> 员工管理</a> </li>
                    <li class="nav-item nav-dropdown"> <a
                            class="nav-link nav-dropdown-toggle" href="client">
                            <i class="nav-icon icon-cursor"></i> 客户管理</a> </li>
                    <li class="nav-item nav-dropdown"> <a
                            class="nav-link nav-dropdown-toggle" href="account">
                            <i class="nav-icon icon-star"></i> 账户管理</a> </li>
                    <li class="nav-item nav-dropdown"> <a class="nav-link"
                            href="debt"> <i class="nav-icon icon-bell"></i>
                            贷款管理</a> </li>
                    {% else %}
                    <li class="nav-title">银行客户系统</li>
                    <a class="nav-link nav-dropdown-toggle" href="index"> <i
                            class="nav-icon icon-speedometer"></i> 首页
                    </a>
                    <li class="nav-item nav-dropdown"> <a
                            class="nav-link nav-dropdown-toggle" href="bank"> <i
                                class="nav-icon icon-puzzle"></i>
                            支行查询</a> </li>
                    <li class="nav-item nav-dropdown"> <a
                            class="nav-link nav-dropdown-toggle" href="client">
                            <i class="nav-icon icon-cursor"></i> 个人信息</a> </li>
                    <li class="nav-item nav-dropdown"> <a
                            class="nav-link nav-dropdown-toggle" href="account">
                            <i class="nav-icon icon-star"></i> 账户查询</a> </li>
                    <li class="nav-item nav-dropdown"> <a
                            class="nav-link nav-dropdown-toggle" href="detail">
                            <i class="nav-icon icon-cursor"></i> 账户明细查询</a>
                    </li>
                    <li class="nav-item nav-dropdown"> <a class="nav-link"
                            href="debt"> <i class="nav-icon icon-bell"></i>
                            贷款查询</a> </li>
                    {% endif %}
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer"
                type="button"></button>
        </div>
        <main class="main">
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="input-prepend input-group">
                        <div class="insert-container">
                            <form class="form-insert" method="POST">
                                <input type="hidden" name="type" value="query">
                                <input type="text" placeholder="贷款ID"
                                    name="loan_id" size="20">
                                {% if authorized %}
                                <input type="text" placeholder="客户ID"
                                    name="customer_id" size="20">
                                {% endif %}
                                <input type="text" placeholder="所属支行ID"
                                    name="bank_id" size="20">
                                <input type="text" placeholder="是否还清(是/否)"
                                    name="status" size="20">
                                <button class="btn btn-info"
                                    type="submit">查询</button>
                                <button class="btn btn-warning"
                                    onclick="openFormAndPreventSubmit(event)">申请贷款</button>
                            </form>
                        </div>
                        <script>
                            function openFormAndPreventSubmit(event) {
                                // 阻止表单提交的默认行为
                                event.preventDefault();
                                // 打开表单
                                openForm();
                            }
                        </script>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">贷款信息</h4>
                                </div>
                            </div>
                            <div>

                                <div>
                                    <table id="bank-table">
                                        <tr> {% for i in labels %}
                                            <th> {{ i }} </th>
                                            {% endfor %}
                                            <th>操作</th>
                                        </tr>
                                        {% for i in content %}
                                        <tr id="{{ i.Loan_ID }}">
                                            <td> {{ i.Loan_ID }} </td>
                                            <td> {{ i.Customer_ID }} </td>
                                            <td> {{ i.Bank_ID }} </td>
                                            <td> {{ i.RemainingAmount }} </td>
                                            <td> {{ i.term }} </td>
                                            <td> {{"已还清"if i.status==1 else
                                                "未还清" }} </td>
                                            <td>
                                                {% if not authorized %}
                                                <label class="btn btn-info"
                                                    onclick="opendForm(this.parentNode.parentNode.id)">还贷</label>
                                                {% endif %}
                                                <label class="btn btn-danger"
                                                    onclick="openwForm(this.parentNode.parentNode.id)">删除</label>
                                                <style>
                                                    .btn-info {
                                                        color: white;
                                                    }
                                                </style>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <aside class="aside-menu">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"> <a class="nav-link active"
                        data-toggle="tab" href="#timeline" role="tab"> <i
                            class="icon-list"></i> </a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab"
                        href="#messages" role="tab"> <i class="icon-speech"></i>
                    </a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab"
                        href="#settings" role="tab"> <i
                            class="icon-settings"></i> </a> </li>
            </ul>
        </aside>
    </div>
</body>

</html>